<!doctype html>
<html>
 <head>
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;valo&quot;}">
  <meta charset="UTF-8" name="vaadin-version" content="7.7.0">
 </head> 
 <body> 
  <vaadin-vertical-layout icon="fonticon://FontAwesome/f101" spacing width="350px" height-full margin> 
   <vaadin-image source="D:/logo.jpg" size-full :middle :center :expand="5"></vaadin-image> 
   <vaadin-label size-auto plain-text>
     Zalogowany jako: 
   </vaadin-label> 
   <vaadin-label size-auto plain-text>
     test 
   </vaadin-label> 
   <vaadin-button icon="fonticon://FontAwesome/f0fa" width-full height="45px" plain-text :middle :center :expand>
     Lista leków 
   </vaadin-button> 
   <vaadin-button icon="fonticon://FontAwesome/f0d1" width-full height="45px" plain-text :middle :center :expand>
     Lista dostawców 
   </vaadin-button> 
   <vaadin-button icon="fonticon://FontAwesome/f07a" width-full height="45px" plain-text :middle :center :expand>
     Zamówienia 
   </vaadin-button> 
   <vaadin-button icon="fonticon://FontAwesome/f067" width-full height="45px" plain-text :middle :center>
     Nowe zamówienie 
   </vaadin-button> 
   <vaadin-button icon="fonticon://FontAwesome/f129" width-full height="45px" plain-text :middle :center>
     Dane 
   </vaadin-button> 
   <vaadin-button icon="fonticon://FontAwesome/f08b" width-full height="45px" plain-text :middle :center :expand>
     Wyloguj 
   </vaadin-button> 
  </vaadin-vertical-layout>  
 </body>
</html>