<!doctype html>
<html>
 <head>
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;valo&quot;}">
  <meta charset="UTF-8" name="vaadin-version" content="7.7.0">
 </head> 
 <body> 
  <vaadin-horizontal-layout spacing size-full margin> 
   <vaadin-grid size-full></vaadin-grid> 
   <vaadin-panel size-full> 
    <vaadin-vertical-layout spacing size-auto margin> 
     <vaadin-label size-auto plain-text>
       Informacje o dostawcy: 
     </vaadin-label> 
     <vaadin-label size-auto plain-text>
       Nazwa 
     </vaadin-label> 
     <vaadin-label size-auto plain-text>
       Tel. : 
     </vaadin-label> 
     <vaadin-label size-auto plain-text>
       Dodatkowe informacje: 
     </vaadin-label> 
     <vaadin-label plain-text>
       brak 
     </vaadin-label> 
    </vaadin-vertical-layout> 
   </vaadin-panel> 
  </vaadin-horizontal-layout>  
 </body>
</html>