<!doctype html>
<html>
 <head>  
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:8,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;valo&quot;}">
  <meta charset="UTF-8" name="vaadin-version" content="7.7.0">
  <meta charset="UTF-8" name="package-mapping" content="com_pharmsaler_gui_view:com.pharmsaler.gui.view">
 </head> 
 <body> 
  <vaadin-vertical-layout size-full> 
   <vaadin-panel width="312px" height="323px" :middle :center> 
    <vaadin-vertical-layout width="98.4%" height="99.32%" margin> 
     <vaadin-label plain-text :middle :expand>
       Login 
     </vaadin-label> 
     <vaadin-text-field width-full :expand></vaadin-text-field> 
     <vaadin-label plain-text :middle :expand>
       Hasło 
     </vaadin-label> 
     <vaadin-password-field width-full :expand></vaadin-password-field> 
     <vaadin-button width="185px" tabindex="2" plain-text :middle :center :expand="2">
       Zaloguj 
     </vaadin-button> 
    </vaadin-vertical-layout> 
   </vaadin-panel> 
  </vaadin-vertical-layout>  
 </body>
</html>